
#box{
    width: 90%;
    height: 400px;
    border:1em solid darkslateblue;
    margin: 0 auto;
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex-wrap: wrap-reverse;
    text-decoration-style: dashed;

}
.first{
    height: 69px;
    width:10%;
    background-color: aqua;
    color: azure;
    border: 1px solid black;
}
.second{
    height:120px;
    width:10%;
    background-color: blanchedalmond;
  
    border: 1px solid grey;
}
.third{
    height:120px;
    width:10%;
    background-color: greenyellow;
    border: 1px solid black;

}
.fourth{
    height:120px;
    width:10%;
    background-color: pink;
    border: 1px solid black;
}